---
import Layout from "../layouts/Page.astro";
---

<Layout content={{ title: "Home", description: "Simple scheduled jobs for Next.js", keywords: "scheduled job, background job, delayed job, worker, Next.js, Nextjs" }}>
	<main>
		<h1>Background Job</h1>
    <p>Simple scheduled jobs for Next.js</p>
	</main>
</Layout>
